[user]
	name = "Justin Ethier"
	email = justin.ethier@gmail.com
[core]
    editor = vim
[color]
    branch = auto
    diff  = auto
    interactive = auto
    status = auto
[alias]
    st = status
    br = branch
    co = checkout
    ci = commit
